/*==============================================================================*/
/* CSS Reset */
/*==============================================================================*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}

/*==============================================================================*/
/* leaguegothicregular @font-face */
/*==============================================================================*/

@font-face {
  font-family: "leaguegothicregular";
  src: url("/font/leaguegothic-regular-webfont.eot");
  src: url("/font/leaguegothic-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/font/leaguegothic-regular-webfont.woff") format("woff"),
    url("/font/leaguegothic-regular-webfont.ttf") format("truetype"),
    url("/font/leaguegothic-regular-webfont.svg#league_gothicregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
/*==============================================================================*/
/* Fontello Icon @font-face */
/*==============================================================================*/

@font-face {
  font-family: "fontello";
  src: url("/font/fontello.eot?25517083");
  src: url("/font/fontello.eot?25517083#iefix") format("embedded-opentype"),
    url("/font/fontello.woff?25517083") format("woff"),
    url("/font/fontello.ttf?25517083") format("truetype"),
    url("/font/fontello.svg?25517083#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
}

.icon-pencil:before {
  content: "\62";
} /* 'b' */
.icon-down-open:before {
  content: "\66";
} /* 'f' */
.icon-left-open:before {
  content: "\67";
} /* 'g' */
.icon-right-open:before {
  content: "\68";
} /* 'h' */
.icon-up-open:before {
  content: "\69";
} /* 'i' */
.icon-download:before {
  content: "\61";
} /* 'a' */

/*==============================================================================*/
/* General */
/*==============================================================================*/

body {
  background: #f7f6f1;
  color: #5c5952;
  font: normal 100%/1.5 helvetica, arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  padding: 30px 0;
  width: 800px;
}

/*==============================================================================*/
/* Typography */
/*==============================================================================*/

a {
  color: #cc5c4d;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #5c5952;
}

a:active {
  opacity: 0.5;
}

p {
  font-size: 14px;
  margin: 0 0 25px;
}

[class*="entypo-"]:before {
  font-family: "entypo", sans-serif;
  font-weight: normal !important;
}

/*==============================================================================*/
/* Header */
/*==============================================================================*/

header {
  display: flex;
  font-family: "leaguegothicregular", helvetica, arial, sans-serif;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 30px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;
  text-transform: uppercase;
  transition: opacity 300ms;
  vertical-align: middle;
}

h2 i {
  background: #fff;
  border-bottom: 3px solid #e5ddc8;
  display: inline-block;
  font-style: normal;
  height: 30px;
  line-height: 31px;
  margin: 0 3px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 36px;
}

h2 i.last {
  margin-right: 0;
}

h2 span {
  color: #766f5d;
  padding: 0 10px;
}

h2 span:last-child {
  padding-right: 0;
}

.directions-title.hidden {
  opacity: 0;
}

/*==============================================================================*/
/* Loader */
/*==============================================================================*/

.loader {
  background: rgba(250, 235, 215, 0.6);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 300ms;
  z-index: 10;
}

.loader.loading {
  opacity: 1;
  pointer-events: auto;
}

.loader img {
  border-radius: 100%;
  display: block;
  left: 50%;
  margin: -12px 0 0 -12px;
  position: absolute;
  top: 50%;
}

/*==============================================================================*/
/* Canvas */
/*==============================================================================*/

.canvas-wrap {
  margin: 0 0 30px;
  position: relative;
}

.canvas-wrap canvas {
  display: block;
  height: 600px;
  margin: 0;
  width: 800px;
}

/*==============================================================================*/
/* Directions Overlay */
/*==============================================================================*/

.directions-overlay {
  display: block;
  font-family: "leaguegothicregular", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  left: 0;
  line-height: 40px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transition: opacity 300ms;
  top: 240px;
  width: 100%;
}

.directions-overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.directions-overlay i {
  background: #fff;
  border-bottom: 3px solid #b8b0ad;
  display: inline-block;
  font-style: normal;
  height: 30px;
  line-height: 31px;
  margin: 0 3px 0 0;
  text-align: center;
  vertical-align: middle;
  width: 36px;
}

.directions-overlay i.last {
  margin-right: 0;
}

.directions-overlay span {
  color: #766f5d;
  padding: 0 10px;
}

.directions-overlay span:last-child {
  padding-right: 0;
}

/*==============================================================================*/
/* Controls */
/*==============================================================================*/

.controls {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 150px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
}

button {
  background: none;
  border: none;
  box-sizing: border-box;
  color: hsl(7, 35%, 95%);
  cursor: pointer;
  font: 400 20px/1 "leaguegothicregular", helvetica, arial, sans-serif;
  height: auto;
  margin: 0;
  outline: none;
  padding: 20px 30px;
  position: relative;
  text-transform: uppercase;
  transition: background-color 300ms, color 300ms, opacity 300ms;
}

button:focus-visible {
  outline: 4px solid hsl(7, 35%, 95%);
}

button.disabled {
  opacity: 0;
  pointer-events: none;
}

button span:before {
  color: hsl(7, 35%, 95%);
  margin: 0 3px 0 0;
  transition: color 300ms;
}

button:hover,
button:focus {
  background: #e5ddc8;
  background-color: hsl(7, 45%, 45%);
}

button:active {
  top: 1px;
}

/*==============================================================================*/
/* Footer */
/*==============================================================================*/

footer p {
  line-height: 30px;
  margin: 0;
}

footer a {
  font-weight: bold;
  transition: color 300ms;
}
